.App {
  text-align: center;
  background-image: url('pagecover.jpg');
  
  width:100%;
  height:40%;
  
  
}


.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: "Monotype Corsiva New Roman",
}

.App-link {
  color:black;

}

