.App {
  text-align: center;
  background-image: url('apartment.jpg');
  width:100%;
}
.forms{
  color: white;
  font-size: 15px;
  font-family: monotype corsiva;
  font-weight:bold;
  text-align: center;
  width:30%;
  line-height:1;
  display: inline-block;
  cursor: pointer;
  padding: 20px 30px;
}
.details{
  display: inline-block;
  text-align:center;
  width:150px;
  line-height:2.85;
}
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-size: 15px;
  font-family: monotype corsiva;
  font-weight:bold;
}

.App-link {
  color:black;
}
.changes{
  color:white;
  display: inline-block;
  text-align:center;
  width:210px;
  line-height:2;
}