.App {
  text-align: center;
  background-image: url('parrot.jpg');
  margin:480px;
  width:430px;
  height:500px;
  margin-top:9%;
  margin-bottom:9%;
}


.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color:black;

}

